/*
Theme Name: Brewfest
Description: Used to style the TinyMCE editor.
*/


/**
 * Table of Contents:
 *
 * 1.0 - Body
 * 2.0 - Typography
 * 3.0 - Elements
 * 4.0 - Alignment
 * 5.0 - Caption
 * 6.0 - Galleries
 * 7.0 - Audio / Video
 * 8.0 - RTL
 */


/**
 * 1.0 Body
 */

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.45;
}


/**
 * 2.0 Typography
 */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1.414em 0 0.5em;
	font-weight: inherit;
	line-height: 1.2;
	font-family: 'Vast Shadow', sans-serif;
}

h1 {
  margin-top: 0;
	font-size: 2.074em;
}

h2 {
	font-size: 1.728em;
}

h3 {
	font-size: 1.44em;
}

h4 {
	font-size: 1.2em;
}

h5, h6 {
	font-size: 1em;
}

p {
	margin-top: 0;
	margin-bottom: 1.3em;
}

b,
strong {
	font-weight: bold;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
  display: block;
  padding: 15px 20px 15px 45px;
  position: relative;
}

blockquote,
q {
	quotes: "" "";
}

blockquote::before {
	color: inherit;
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  left: 15px;
  top:5px;
}

blockquote:before,
q:before {
	content: "\201C";
}

blockquote:after,
q:after {
	content: "";
}

address {
	font-style: italic;
	margin: 0 0 1.5em;
}

code,
kbd,
tt,
var,
samp,
pre {
	font-family: "Courier 10 Pitch", Courier, monospace;
}

pre {
	background: #333;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background-color: #fff9c0;
	text-decoration: none;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

small {
	font-size: 0.833em;
}

big {
	font-size: 125%;
}

a {
	color: #666;
}


/**
 * 3.0 Elements
 */

 hr {
 	background-color: #ccc;
 	border: 0;
 	height: 1px;
 	margin-bottom: 1.5em;
 }

 ul,
 ol {
 	margin: 0 0 1.5em 0;
 }

 ul {
 	list-style: disc;
 }

 ol {
 	list-style: decimal;
 }

 li > ul,
 li > ol {
 	margin-bottom: 0;
 	margin-left: 1.5em;
 	padding: 0;
 }

 dt {
 	font-weight: bold;
 }

 dd {
 	margin: 0 1.5em 1.5em;
 }

 img {
 	height: auto; /* Make sure images are scaled correctly. */
 	max-width: 100%; /* Adhere to container width. */
 }

 figure {
 	margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
 }

 table {
 	margin: 0 0 1.5em;
 	width: 100%;
 }

 thead {
	background: #333;
	color: #fff;
}

td, th {
  border: 1px solid;
  padding: 0.5rem;
  text-align: left;
}


/**
 * 4.0 Alignment
 */

 .alignleft {
 	float: left;
 	margin: 1em 1.5em 1.5em 0;
 }

 .alignright {
 	float: right;
 	margin: 1em 0 1.5em 1.5em;
 }

 .aligncenter {
 	clear: both;
 	display: block;
 	margin: 1em auto;
 }


/**
 * 5.0 Caption
 */

 .wp-caption {
 	margin-bottom: 1.5em;
 	max-width: 100%;
 	background: transparent;
 	color: inherit;
 	padding-bottom: 0.25em;
 }

 .wp-caption img[class*="wp-image-"] {
 	display: block;
 	margin-left: auto;
 	margin-right: auto;
 }

 .wp-caption .wp-caption-text {
 	margin: 0.25em 0;
 	font-size: 14px;
 	font-size: 0.875rem;
 }

 .wp-caption-text {
 	text-align: center;
 }


/**
 * 6.0 Galleries
 */

 .gallery {
 	margin-bottom: 1.5em;
 }

 .gallery-item {
 	display: inline-block;
 	text-align: center;
 	vertical-align: top;
 	width: 100%;
 }

 .gallery-columns-2 .gallery-item {
 	max-width: 50%;
 }

 .gallery-columns-3 .gallery-item {
 	max-width: 33.33%;
 }

 .gallery-columns-4 .gallery-item {
 	max-width: 25%;
 }

 .gallery-columns-5 .gallery-item {
 	max-width: 20%;
 }

 .gallery-columns-6 .gallery-item {
 	max-width: 16.66%;
 }

 .gallery-columns-7 .gallery-item {
 	max-width: 14.28%;
 }

 .gallery-columns-8 .gallery-item {
 	max-width: 12.5%;
 }

 .gallery-columns-9 .gallery-item {
 	max-width: 11.11%;
 }

 .gallery-caption {
 	display: block;
 }
