/*
Theme Name: Brewfest

Adding support for language written in a Right To Left (RTL) direction is easy -
it's just a matter of overwriting all the horizontal positioning attributes
of your CSS stylesheet in a separate stylesheet file named rtl.css.

https://codex.wordpress.org/Right_to_Left_Language_Support

*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Typography
# Elements
# Navigation
	## Buttons
	## Menus
# Accessibility
# Layout
# Widgets
# Content
	## Comments
# Media
	## Galleries
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body {
	direction: rtl;
	unicode-bidi: embed;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
blockquote{
  padding: 15px 45px 15px 20px;
}

blockquote::before{
  right: 15px;
  left: auto;
}

li > ul,
li > ol {
  margin-left: 0;
	margin-right: 1.5em;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Buttons
--------------------------------------------------------------*/
.ft-button::before {
	right: 7px;
	left: auto;
	border-right: none;
  border-left: 1px solid #F53D0A;
}

.ft-button:active,
.ft-button:focus {
	left: auto;
  right: 3px;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
	float: right;
}

.main-navigation ul {
  padding-right: 0;
  padding-left: auto;
}

.main-navigation .sub-menu {
	padding-right: 15px;
  padding-left: auto;
}

.main-navigation ul li:hover > .sub-menu,
.main-navigation ul li.focus > .sub-menu {
	left: auto;
}

.main-navigation ul ul li:hover > .sub-menu,
.main-navigation ul ul li.focus > .sub-menu {
	left: auto;
  right: 100%;
}

/* Small menu. */
.menu-toggle:focus,
.menu-toggle:active {
	left: auto;
  right: 0;
}

@media screen and (min-width: 37.5em) {
	.main-navigation li {
		float: right;
	}
	.main-navigation .sub-menu {
		padding-left: 0;
    padding-right: 0;
	}
	.main-navigation ul ul {
		box-shadow: 3px 0 3px rgba(0, 0, 0, 0.2);
		float: right;
		left: 999em;
    padding-right: 0;
    padding-left: 0;
	}
	.main-navigation ul ul ul {
		left: 999em;
	}
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: right;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: left;
	text-align: left;
}

@media screen and (min-width: 37.5em) {
	#footer-menu {
		text-align: left;
	}
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
.screen-reader-text:focus {
	left: auto;
  right: 5px;
}

/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/
.custom-logo {
	float: right;
	margin-left: 1.5em;
  margin-right: 0;
}

.site-branding .col-right {
	text-align: left;
}

@media screen and (min-width: 37.5em) {
	.site-branding .col-left {
		float: right;
		margin-left: 1.6%;
    margin-right: 0;
	}
	.site-branding .col-right {
		float: left;
	}
	.content-area {
		float: right;
	}
	#secondary {
		float: left;
	}
	#footer-1,
	#footer-2,
	#footer-3 {
		float: right;
	}
	#footer-1,
	#footer-2 {
		margin-left: 1.6%; /* 20/960 */
    margin-right: 0;
	}
	.site-info {
		float: right;
		margin: 0 0 0 1.6%;
	}
	.footer-menu-container {
		float: left;
	}
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
#wp-calendar #prev {
	text-align: right;
}

#wp-calendar #next {
	text-align: left;
}

.widget_rss .widget-title .rsswidget:first-child {
  float: left;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-list {
	padding-left: 0;
  padding-right: 0;
}

.avatar {
	margin-left: 10px;
  margin-right: 0;
}

.reply {
	text-align: left;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery-item {
	padding: 0 0 0 1em;
}
