/*
Theme Name: Brewfest
Theme URI: https://lbdesign.tv/giving-back/brewfest-theme/
Author: LBDesign (Liam Dempsey + Lauren Pittenger)
Author URI: https://lbdesign.tv
Description: Brewfest features multiple widget areas on the front page, navigation, a logo, custom header, hero banner area and more. Use the custom colors to match your event's colors and add an optional logo.
Version: 1.0.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: brewfest
Tags: one-column, two-columns, right-sidebar, custom-background, custom-colors, custom-header, custom-menu, custom-logo, editor-style, featured-images, footer-widgets, full-width-template, sticky-post, theme-options, threaded-comments, translation-ready, entertainment, food-and-drink

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Brewfest is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Buttons
	## Menus
# Accessibility
# Layout
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}

body {
	margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
	transition-property: all;
  transition-duration: 0.2s;
}

a:active,
a:hover {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 0.833em;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
	color: #220901;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-size: 1rem;
	line-height: 1.45;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	clear: both;
	margin: 1.414em 0 0.5em;
	font-weight: inherit;
	line-height: 1.2;
	font-family: 'Vast Shadow', sans-serif;
}

h1 {
	margin-top: 0;
	font-size: 2.074em;
}

.site-title {
	font-size: 1.728em;
	font-family: 'Open Sans', sans-serif;
	margin-bottom: 0.1em;
	display: inline-block;
	margin-top: 0.25em;
}

.site-title a {
	text-decoration: none;
	font-weight: 400;
}

.entry-title {
	margin-top: 0;
}

.entry-title a,
.entry-title a:visited {
	color: #F53D0A;
}

h2 {
	font-size: 1.728em;
}

h3 {
	font-size: 1.44em;
}

h4 {
	font-size: 1.2em;
}

h5, h6 {
	font-size: 1em;
}

p {
	margin-top: 0;
	margin-bottom: 1.3em;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	margin: 0 1.5em;
}

blockquote::before {
	color: #F53D0A;
  font-size: 40px;
  font-weight: bold;
}

address {
	font-style: italic;
	margin: 0 0 1.5em;
}

pre {
	background: #220901;
	color: #f6f5ef;
	font-size: 15px;
	font-size: 0.9375rem;
	line-height: 1.6;
	margin-bottom: 1.6em;
	max-width: 100%;
	overflow: auto;
	padding: 1.6em;
}

code,
kbd,
tt,
var,
samp,
pre {
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: 15px;
	font-size: 0.9375rem;
}

abbr,
acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark,
ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

.header-hero h2 {
	margin-top: 0;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after { /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: rgba(246,245,239,.5); /* Fallback for when there is no custom background color defined. */
}

blockquote:before,
q:before {
	content: "\201C";
}

blockquote:after,
q:after {
	content: "";
}

blockquote,
q {
	quotes: "" "";
}

blockquote{
  display: block;
  padding: 15px 20px 15px 45px;
  position: relative;
}

blockquote::before{
  position: absolute;
  left: 15px;
  top:5px;
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

ul,
ol {
	margin: 0 0 1.5em 0;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
	padding: 0;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
}

figure {
	margin: 1em 0; /* Extra wide images within figure tags don't overflow the content area. */
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

thead {
	background: #F53D0A;
	color: #f6f5ef;
}

td, th {
  border: 1px solid #220901;
  padding: 0.5rem;
  text-align: left;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: none;
	color: #f6f5ef;
  padding: 5px 10px;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
	transition: all 0.2s ease;
	background: #F53D0A;
}

.button:hover,
button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover,
.button:active,
button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active,
.button:focus,
button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
	background: rgba(245,61,10,0.8);
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	border: 1px solid #ccc;
	padding: 3px;
}

select {
	border: 1px solid #ccc;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
input[type="range"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="week"]:focus,
input[type="time"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="color"]:focus,
textarea:focus {
	color: #111;
}

textarea {
	width: 100%;
}

.error404 .search-form {
	margin-bottom: 3em;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: inherit;
}

a:visited {
	color: inherit;
}

a:hover,
a:focus,
a:active {
	color: rgba(245,61,10,0.8);
}

a:focus {
	outline: thin dotted;
}

a:hover,
a:active {
	outline: 0;
}

/*--------------------------------------------------------------
## Buttons
--------------------------------------------------------------*/

.ft-button {
  border: 3px solid #F53D0A;
	color: #F53D0A;
  padding: 5px 10px;
  position: relative;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
	transition: all 0.2s ease;
	background: rgba(34, 9, 1, 0.7);
}

.ft-button::before {
	content: '';
	position: absolute;
	left: 7px;
	top: 7px;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	border-bottom: 1px solid #F53D0A;
	border-right: 1px solid #F53D0A;
}

.ft-button:hover {
	border-color: rgba(245,61,10,0.8);
	color: rgba(245,61,10,0.8);
}

.ft-button:hover::before {
	border-color: rgba(245,61,10,0.8);
}

.ft-button:active,
.ft-button:focus {
	top: 3px;
	left: 3px;
}

.ft-button:active::before {
	border: none;
}

.ft-button {
	font-size: 1.2em;
	display: inline-block;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.main-navigation {
	clear: both;
	display: block;
	float: left;
	width: 100%;
	background: #220901;
}

.main-navigation .nav-menu {
	display: none;
}

.main-navigation ul {
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.main-navigation li {
	float: none;
	position: relative;
	-webkit-transition: all 2s ease;
	transition: all 2s ease;
}

.main-navigation a {
	display: block;
	text-decoration: none;
	padding: 10px 15px;
	color: inherit;
}

.main-navigation a:hover {
	color: #F53D0A;
}

.main-navigation .sub-menu {
	background: #220901;
	padding-left: 15px;
}

.main-navigation li:hover > a,
.main-navigation li.focus > a {
}

.main-navigation ul ul :hover > a,
.main-navigation ul ul .focus > a {
}

.main-navigation ul ul a:hover,
.main-navigation ul ul a.focus {
}

.main-navigation ul li:hover > .sub-menu,
.main-navigation ul li.focus > .sub-menu {
	left: auto;
}

.main-navigation ul ul li:hover > .sub-menu,
.main-navigation ul ul li.focus > .sub-menu {
	left: 100%;
}

.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_ancestor > a,
.main-navigation .current-menu-ancestor > a {
	background: #F53D0A;
}

.main-navigation .current_page_item > a:hover,
.main-navigation .current-menu-item > a:hover,
.main-navigation .current_page_ancestor > a:hover,
.main-navigation .current-menu-ancestor > a:hover,
.main-navigation .current_page_item > a:active,
.main-navigation .current-menu-item > a:active,
.main-navigation .current_page_ancestor > a:active,
.main-navigation .current-menu-ancestor > a:active,
.main-navigation .current_page_item > a:focus,
.main-navigation .current-menu-item > a:focus,
.main-navigation .current_page_ancestor > a:focus,
.main-navigation .current-menu-ancestor > a:focus {
	background: rgba(245,61,10,.75);
	color: inherit;
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled .nav-menu {
	display: block;
}

.main-navigation.toggled .sub-menu {
	display: none;
}

.main-navigation.toggled li.focus > ul {
	display: block;
}

.menu-toggle {
	background: transparent;
	border: none;
	background: #F53D0A;
	color: inherit;
	width: 100%;
}

.menu-toggle::before {
	border: none;
	top: 0;
	right: 0;
	left: 0;
	position: relative;
}

.menu-toggle:focus,
.menu-toggle:active {
	top: 0;
	left: 0;
}

.menu-toggle:hover,
.menu-toggle:active {
	color: #f6f5ef;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}
	.main-navigation .nav-menu {
		display: block;
	}
	.main-navigation li {
		float: left;
		position: relative;
	}
	.main-navigation .sub-menu {
		padding-left: 0;
	}
	.main-navigation ul ul {
		box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
		float: left;
		position: absolute;
		top: 43px;
		left: -999em;
		z-index: 99999;
		padding-left: 0;
	}
	.main-navigation ul ul ul {
		left: -999em;
		top: 0;
	}
	.main-navigation ul ul a {
		width: 200px;
	}
}

.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
	margin: 0 0 1.5em;
	overflow: hidden;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	float: left;
	width: 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	float: right;
	text-align: right;
	width: 50%;
}

.comment-navigation a,
.posts-navigation a,
.post-navigation a {
	color: #F53D0A;
}

/* Footer Menu */
#footer-menu {
	padding: 0;
	margin: 0;
	list-style: none;
}

#footer-menu li {
	display: inline-block;
}

#footer-menu li:last-of-type .menu-item-separator {
	display: none;
}

@media screen and (min-width: 37.5em) {
	#footer-menu {
		text-align: right
	}
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.screen-reader-text:focus {
	background-color: #f6f5ef;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft,
.alignright,
.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@media screen and (min-width: 37.5em) {
	.alignleft {
		float: left;
		margin: 1em 1.5em 1.5em 0;
	}

	.alignright {
		float: right;
		margin: 1em 0 1.5em 1.5em;
	}

	.aligncenter {
		clear: both;
		display: block;
		margin: 1em auto 1.5em;
	}
}

/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/
.wrap {
	max-width: 960px;
	width: 100%;
	margin: 0 auto;
}

.wrap {
	overflow: auto;
}

.site-header .wrap {
	overflow: initial;
}

.site-header {
	background: #220901;
	color: #f6f5ef;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	-webkit-background-size: cover;
	-moz-background-size:    cover;
	-o-background-size:      cover;
	background-size:         cover;
}

.custom-logo {
	float: left;
	margin-right: 1.5em;
	display: inline;
}

.site-branding {
	padding: 10px 20px;
	background: hsla(15,94%,7%,0.8);
	overflow: auto;
}

.site-branding .col-right {
	text-align: right;
}

.header-hero .inner-wrap {
	margin: 0 auto;
	text-align: center;
	padding: 60px 0;
}

.header-hero .ft-button-hero {
	margin-top: 1em;
}

.site-content .wrap {
	padding-top: 60px;
	padding-bottom: 60px;
	background: #f6f5ef;
	box-shadow: 0 0 5px rgba(16, 25, 35, 0.2);
  -moz-box-shadow: 0 0 5px rgba(16, 25, 35, 0.2);
  -webkit-box-shadow: 0 0 5px rgba(16, 25, 35, 0.2);
  -o-box-shadow: 0 0 5px rgba(16, 25, 35, 0.2);
}

.content-area {
	padding: 20px;
}

.full-width .content-area {
	width: 100%;
}

.home.full-width .content-area {
	margin-left: 16.93%;
	margin-right: 16.93%;
}

#secondary {
	padding: 20px;
}

#before-footer {
	background: #F53D0A;
	color: #f6f5ef;
	padding: 40px 20px;
}

#before-footer section {
	margin: 0 auto;
}

.site-footer {
	background: rgba(34,9,1,0.94);
	color: #f6f5ef;
}

.site-footer .row {
	padding: 40px 20px;
}

.site-footer .row-2 {
	background: #220901;
	padding: 20px;
}

#footer-1,
#footer-2,
#footer-3 {
	box-sizing: border-box;
}

.site-info {
	font-size: 12px;
	font-size: 0.75rem;
}

.footer-menu-container {
	font-size: 12px;
	font-size: 0.75rem;
}

@media screen and (min-width: 37.5em) {
	.site-branding .col-left {
		float: left;
		margin-right: 1.6%;
		width: 49.2%;
	}
	.site-branding .col-right {
		float: right;
		width: 49.2%;
	}
	.header-hero .inner-wrap {
		width: 66.13%;
	}
	.content-area {
		width: 66.13%; /* 8 col */
		float: left;
	}
	.home.full-width .content-area {
		width: 66.13%;
	}
	#secondary {
		width: 23.8%; /* 3 col */
		float: right;
	}
	#before-footer section {
		width: 66.13%; /* 8 col */
	}
	#footer-1,
	#footer-2,
	#footer-3 {
		width: 32.26%; /* 308/960 */
		float: left;
	}
	#footer-1,
	#footer-2 {
		margin-right: 1.6%; /* 20/960 */
	}
	.site-info {
		width: 40.73%;
		float: left;
		margin: 0 1.6% 0 0;
	}
	.footer-menu-container {
		width: 40.73%;
		float: right;
	}
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	margin: 0 0 3em;
	font-size: 0.833em;
}

.widget-title,
.widgettitle {
	margin-top: 0;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 1em;
  margin-bottom: 1.5em;
}

/* Make sure select elements fit in widgets. */
.widget select {
	max-width: 100%;
}

.widget ul {
	padding: 0;
	list-style: none;
}

.widget ul li {
	padding: 5px 0;
}

.widget ul ul li {
	border-bottom: 0;
}

.widget ul ul li:last-of-type {
	padding-bottom: 0;
}

.home.full-width .site-main .widget {
	padding: 0 6.866% 40px;
	border-bottom: 1px solid rgba(34,9,1,0.30);
	font-size: 1em;
}

.home.full-width .site-main .widget:last-of-type {
	border-bottom: none;
	padding-bottom: 0;
	margin-bottom: 0;
}

.home.full-width .site-main .widget-title,
.home.full-width .site-main .widgettitle {
	margin-top: 0;
	margin-bottom: 20px;
	font-family: 'Vast Shadow', sans-serif;
	text-transform: none;
	font-weight: normal;
	font-size: 1.728em;
}

#after-post-1 {
	margin-top: 30px;
}

#secondary .widget,
#after-post-1 .widget {
}

/* calendar widget */
#wp-calendar td {
	text-align: center;
	padding: 5px;
}

#wp-calendar a {
	color: #F53D0A;
}

#wp-calendar #prev {
	text-align: left;
}

#wp-calendar #next {
	text-align: right;
}

#today {
	background: #404040;
	color: #fff;
}

/* recent posts widget */
.widget_recent_entries .post-date {
	display: block;
	font-size: 0.833em;
	color: rgba(34,9,1,0.70);
}

/* RSS widget */
.widget_rss li {
	margin-bottom: 10px;
}

.widget_rss .widget-title .rsswidget:first-child {
  float: right;
}

.widget_rss .rss-date {
	display: block;
	font-size: 0.833em;
	color: rgba(34,9,1,0.70);
}

.site-footer .widget_rss .rss-date,
.site-footer .widget_recent_entries .post-date {
	color: rgba(246,245,239,.5);
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.hentry.post.sticky {
	display: block;
	position: relative;
	background: #F53D0A;
	color: #f6f5ef;
	padding: 1em;
}

.sticky .entry-title a,
.sticky .entry-title a:visited {
	color: #f6f5ef;
}

.sticky .entry-meta,
.sticky .entry-footer {
	color: rgba(246,245,239,0.90);
}

.sticky .read-more {
	color: #f6f5ef;
}

.hentry {
	margin: 0 0 60px;
}

.single .hentry {
	margin-bottom: 30px;
}

.hentry.post {
	padding: 0;
}

.updated:not(.published) {
	display: none;
}

.page-header {
	margin-bottom: 3em;
}

.entry-header,
.entry-featured-image {
	margin-bottom: 1.5em;
}

.entry-meta,
.entry-footer {
	font-size: 0.833em;
	color: rgba(34,9,1,0.70);
}

.single .byline,
.group-blog .byline {
	display: inline;
}

#page {
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}

.page-content,
.entry-summary {
	margin: 1.5em 0 0;
}

body.search-results .entry-summary {
	margin-bottom: 1.5em;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.entry-content a {
	color: #F53D0A;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

.comment-list {
	list-style: none;
	padding-left: 0;
}

.comment-list .children {
	list-style: none;
}

.avatar {
	margin-right: 10px;
}

.comment-body {
	margin-bottom: 20px;
}

.comment-metadata {
	font-size: 0.833em;
	color: rgba(34,9,1,0.70);
	margin-bottom: 20px;
}

.reply {
	font-size: 0.833em;
	color: rgba(34,9,1,0.70);
	text-align: right;
}

.pingback {
	margin-bottom: 20px;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
	background: transparent;
	color: inherit;
	padding-bottom: 0.25em;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.25em 0;
	font-size: 14px;
	font-size: 0.875rem;
}

.wp-caption-text {
	text-align: center;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
	margin: 0 0 1.5em;
	padding: 0 1em 0 0;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
	font-size: 0.833em;
}
